.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
/*  puts particles on the background not on top
*/position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  /* used when position fixed/absolute is used
  to make background below all components */
  z-index: -1;
}

/* FOR LOGO IN MOBILE */
@media only screen and (max-width: 500px) {
  .Tilt-container {
    display: flex;
    justify-content: center;
  }
  .Tilt {
    margin: 0;
    align-items: center;
  }
}

/************
LOADING
************/
.App-loading {
  -webkit-animation: App-loading-spin infinite 1.5s linear;
          animation: App-loading-spin infinite 1.5s linear;
  height: 24px;
  margin-top: 50px;
}

.App-loading-header {
  margin-bottom: 50px;
}

@keyframes App-loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
